# Database Configuration
DATABASE_URL="DATABASE_URL="postgresql://username:password@localhost:5432/epms""

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="npm exec auth secret"

# LDAP Configuration
# IMPORTANT: Replace these with your actual Active Directory details
LDAP_URL="ldaps://dc01.yourdomain.com:636"
LDAP_ADMIN_DN="CN=Administrator,CN=Users,DC=yourdomain,DC=com"
LDAP_ADMIN_PASSWORD="yourldapadminpass"
LDAP_SEARCH_BASE="DC=yourdomain,DC=com"